<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/home.css">
<div class="container-fluid hold">
    <div class="case"><h6>Total Cases </h6>
    <p><%= confirmed %>  </p> </div>
        
    <div class="case"><h6>Total Deaths </h6>
        <p><%= deaths %></p> </div>

   
    <div class="case"><h6>Total Recovered </h6>
    <p><%= recover %></p> </div>
 
</div>
<%- include("partials/footer") -%>